@{
    ViewBag.Title = "About";
}

<style>
    span {
        font-size:16px;
    }
    h3,h2,h4 {
        color:#666;
        font-weight:bold;
    }
    ul li {
        padding-bottom:5px;
    }
</style>

<h2 style="margin-bottom:0;">About Us</h2>
<hr style="margin-bottom:10px;" />
<br />
<article>
    <span>
        We are a team of software develpers aiming to develop innovative solutions.
    </span>
</article>

<aside>
    <h4 style="font-weight:bold;color:#666;">Areas of Work</h4>
    <span>
        We have experience and been working on the following technologies since the last few years
    </span>
    <ul style="margin-top:10px;">
        <li><strong>Computer Softwares</strong></li>
        <li><strong>Mobile Applications</strong></li>
        <li><strong>Websites</strong></li>
    </ul>
</aside>
<div style="margin-bottom:80px;"></div>


<h2 style="margin-bottom:0;">Contact Us</h2>
<hr style="margin-bottom:10px;" />
<br />
<span>
    For any support and information contact us at
</span><br /><br />

 <ul>
    <li><strong>abdulmoiz251@gmail.com</strong></li>
    <li><strong>usama28232@gmail.com</strong></li>
</ul>